PORT=5000
MONGO_URL=mongodb://localhost:27017/real-project
MONGO_DB_NAME=real-project
TITLE_API=Real Project V1 Api
VERSION_API=0.0.1

URL_FRONT=https://localhost:4200/#/login

#SECURITY
ACCESS_CONTROL_ALLOW_ORIGIN=https://localhost:4200,https://localhost,https://localhost:5000
SESSION_SECRET=sZYWdVy/K|=TSv^1wJ&^|ZN!rxBM6^AL;m3pGQ8
IGNORE_CSRF_ROUTE_LOGIN_CALLBACK=/auth/login/callback
JWT_SECRET=sZYWdVy/f|=TSv^bwJ&^|ZN!rxBM6^AL;m3pGQ8

